.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;

  & > input {
    width: 100%;
    background-color: white;
    border-radius: 4px; 
    border: 1px solid rgba(42, 47, 55, 0.08);
    padding-left: 14px;
    padding-top: 12px;
    font-size: 14px;

      &:focus {
        border-bottom: 2px solid black;
        outline: none;
      }

      &.notValid {
        border-bottom: 2px solid #D50000;
      }
    }

  & > span {
    position: absolute;
    left: 16px;
    top: 6px;
    font-size: 12px;
    color: black;
  }
}
